.main_contaier {
  border: 1px solid grey;
  background-color: rgb(242, 242, 242);
}
.add__prevideo h1 {
  padding-bottom: 5px;
  border-bottom: 2px solid gray;
}
.input__container {
  margin-bottom: 15px !important;
}

.input {
  height: 50px;
  width: 100%;
  margin-bottom: 25px;
}

.basic__details {
  /* background-color: #f2f2f2; */
  /* padding: 20px; */
  /* border: 1px solid gray; */
  margin: 0 1.5rem;
  padding: 1rem;
  border: 1px solid rgb(222, 226, 230);
  background-color: rgb(242, 242, 242);
}

.basic__details .basic__details__inner {
  border: 1px solid rgb(222, 226, 230);
  background-color: rgb(242, 242, 242);
  padding: 1.5rem;
}

.custom_col {
  display: flex;
  flex-direction: column;
}

.success__btn {
  display: flex;
  justify-content: center;
}

.response {
  display: flex;
  flex-direction: column;
}
